# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Audio outputs
converted_mp3_*/
*.zip

# Demucs output folders
separated/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
